spring:
  application:
    name: book-service
  datasource:
    url: jdbc:h2:mem:booksdb
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
  security:
    user:
      name: user
      password: pass
  cloud:
      stream:
        bindings:
          bookCreatedSupplier-out-0:
            destination: book.created
  rabbitmq:
      host: localhost
      port: 5672
server:
  port: 8081

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/