apiVersion: apps/v1
kind: Deployment
metadata:
  name: review-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: review-service
  template:
    metadata:
      labels:
        app: review-service
    spec:
      containers:
        - name: review-service
          image: mtodorov08/review-service:latest
          env:
            - name: SPRING_RABBITMQ_HOST
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: SPRING_RABBITMQ_HOST
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: EUREKA_URL
            - name: SPRING_SECURITY_USER_NAME
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: SECURITY_USER
            - name: SPRING_SECURITY_USER_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: SECURITY_PASSWORD
            - name: EUREKA_INSTANCE_HOSTNAME
              value: "review-service"
          ports:
            - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: review-service
  namespace: microservices
spec:
  selector:
    app: review-service
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
