spring:
  application:
    name: review-service
    
  security:
      user:
        name: user
        password: pass
  cloud:
      stream:
        bindings:
          bookCreatedConsumer-in-0:
            destination: book.created
            group: review-service
  rabbitmq:
      host: localhost
      port: 5672
server:
  port: 8082

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
