spring:
  application:
    name: review-service
    
  security:
      user:
        name: user
        password: pass
server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
